<form #f="ngForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
	<div class="row mb-2">
		<div class="col-2 offset-8">
			<button class="btn w-100 btn-success" type="submit" [disabled]="! recipeForm.valid">
				Save
			</button>
		</div>
		<div class="col-2">
			<button class="btn w-100 btn-outline-primary" type="submit" (click)="onGoAway()">
				Cancel
			</button>
		</div>
	</div>
	<hr />
	<div class="row mb-2">
		<div class="col">

			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" id="name" name="name" class="form-control" formControlName="name" />
			</div>

		</div>
	</div>
	<div class="row mb-2">
		<div class="col">

			<div class="form-group">
				<label for="name">Description</label>
				<textarea id="description" name="description" class="form-control" rows="4" formControlName="description"></textarea>
			</div>

		</div>
	</div>
	<div class="row mb-2">
		<div class="col">

			<div class="form-group">
				<label for="name">Image URL</label>
				<input type="text" id="imagePath" name="imagePath" class="form-control" formControlName="imagePath" />
			</div>

		</div>
	</div>
	<div class="row mb-2">
		<div class="col-4 offset-4">
			<img src="" class="img-fluid" />
		</div>
	</div>

	<div class="row mb-2">
		<div class="col">

			<label>Ingredients</label>
			<ul class="list-group" formArrayName="ingredients">
				<li
					class="list-group-item"
					*ngFor="let ingredientCtrl of controls; let i = index"
					[formGroupName]="i">
					<div class="row">
						<div class="col">
							<input type="text" class="form-control" formControlName="name" />
						</div>
						<div class="col-2">
							<input type="number" class="form-control" formControlName="qty" min="0" />
						</div>
						<div class="col-3">
							<input type="text" class="form-control" formControlName="unit" />
						</div>
						<div class="col-2">
							<button action="button" class="btn btn-danger w-100">Delete</button>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-4 offset-8">
							<button type="button" class="btn btn-success w-100" (click)="onAddIngredient()">Add new ingredient</button>
						</div>
					</div>					
				</li>
			</ul>

		</div>
	</div>

</form>