<div class="row">
	<div class="col">
		<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
			<div class="form-group">
				<label for="email">Email</label>
				<input
					class="form-control"
					type="email"
					name="email"
					id="email"
					required
					email
					ngModel
					/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input
					class="form-control"
					type="password"
					name="password"
					id="password"
					required
					ngModel
					minlength="6"
					/>
			</div>
			<div class="form-group" *ngIf="! modeLogin">
				<label for="password2">Confirm Password</label>
				<input
					class="form-control"
					type="password"
					name="password2"
					id="password2"
					minlength="6"
					required
					ngModel
					/>
			</div>
			<div class="row">
				<div class="col-3">
					<button class="w-100 btn btn-primary" type="submit" [disabled]="!authForm.valid">
						{{ modeLogin ? 'Login' : 'Sign-up' }}
					</button>
				</div>
				<div class="col-3 offset-6">
					<button class="w-100 btn btn-outline-primary" (click)="onSwitchMode()" type="button">
						{{ modeLogin ? 'Create Account' : 'Already Registered?' }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>