<div class="row mb-2">
	<div class="col text-right">
		<div class="btn-group" appDropdown>
			<button type="button" class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Add ingredients to shopping list</a>
				<a class="dropdown-item" href="#">Edit recipe</a>
				<a class="dropdown-item" href="#">Delete recipe</a>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="row mb-2">
	<div class="col">
		<h1>{{ rcp.name }}</h1>
		<p>{{ rcp.description }}</p>
	</div>
	<div class="col-3 text-right">
		<img [src]="rcp.imagePath" [alt]="rcp.name" [title]="rcp.name" class="img-fluid rcpThumb" />
	</div>
</div>
<div class="row">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item">Ingredients...</li>
		</ul>
	</div>
</div>