<div class="row mb-2">
	<div class="col">
		<button class="btn btn-success">New recipe</button>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="list-group">
			<a class="list-group-item rcp" href="#">
				<div class="row">
					<div class="col">
						<strong>Beans on toast</strong>
						<p class="pt-2 pb-0">Proper student grub</p>
					</div>
					<div class="col-4">
						<img class="img-fluid" src="https://aucdn.ar-cdn.com/recipes/port320/ed970612-f30b-414a-a93a-322ba214e7c1.jpg" />
					</div>
				</div>
			</a>
		</div>
		<app-recipe-item></app-recipe-item>
	</div>
</div>