<div class="row">
	<div class="col">
		<form>
			<div class="row">
				<div class="col-6 form-group">
					<label for="name">Name:</label>
					<input type="text" id="name" class="form-control" />
				</div>
				<div class="col-3 form-group">
					<label for="qty">Qty:</label>
					<input type="number" id="qty" class="form-control" />
				</div>
				<div class="col-3 form-group">
					<label for="unit">Unit:</label>
					<input type="text" id="unit" class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-2 offset-6">
					<button class="btn w-100 btn-success" type="submit">Add</button>
				</div>
				<div class="col-2">
					<button class="btn w-100 btn-danger" type="button">Delete</button>
				</div>
				<div class="col-2">
					<button class="btn w-100 btn-outline-primary" type="button">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>